<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "Home", root_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Links -->
    <%= link_to "Add a restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>


  </div>
</div>
